:root {
  --pink: #fcc2ff;
  --blush: #ecd4ff;
  --purple: #97a2ff;
  --blue: #ace7ff;
  --green: #b9d2b1;
  --orange: #ffcbc1;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;

  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  background-color: white;
  /* prevents margin collapsing */
  position: absolute;
  width: 100%;
}

#reflection-previews {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
